---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/YPBT-app
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"9f04638fcfba3c8e377309804b3de7d89d2ce47ad62987424830bccf8e1cf8cd"'
      Last-Modified:
      - Wed, 27 Sep 2017 09:31:53 GMT
      X-Oauth-Scopes:
      - read:user, repo, user:email, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1602989147'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"id":104999627,"node_id":"MDEwOlJlcG9zaXRvcnkxMDQ5OTk2Mjc=","name":"YPBT-app","full_name":"soumyaray/YPBT-app","private":false,"owner":{"login":"soumyaray","id":1926704,"node_id":"MDQ6VXNlcjE5MjY3MDQ=","avatar_url":"https://avatars2.githubusercontent.com/u/1926704?v=4","gravatar_id":"","url":"https://api.github.com/users/soumyaray","html_url":"https://github.com/soumyaray","followers_url":"https://api.github.com/users/soumyaray/followers","following_url":"https://api.github.com/users/soumyaray/following{/other_user}","gists_url":"https://api.github.com/users/soumyaray/gists{/gist_id}","starred_url":"https://api.github.com/users/soumyaray/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumyaray/subscriptions","organizations_url":"https://api.github.com/users/soumyaray/orgs","repos_url":"https://api.github.com/users/soumyaray/repos","events_url":"https://api.github.com/users/soumyaray/events{/privacy}","received_events_url":"https://api.github.com/users/soumyaray/received_events","type":"User","site_admin":false},"html_url":"https://github.com/soumyaray/YPBT-app","description":"Tag
        your favorite moments on YouTube Videos.","fork":true,"url":"https://api.github.com/repos/soumyaray/YPBT-app","forks_url":"https://api.github.com/repos/soumyaray/YPBT-app/forks","keys_url":"https://api.github.com/repos/soumyaray/YPBT-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/soumyaray/YPBT-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/soumyaray/YPBT-app/teams","hooks_url":"https://api.github.com/repos/soumyaray/YPBT-app/hooks","issue_events_url":"https://api.github.com/repos/soumyaray/YPBT-app/issues/events{/number}","events_url":"https://api.github.com/repos/soumyaray/YPBT-app/events","assignees_url":"https://api.github.com/repos/soumyaray/YPBT-app/assignees{/user}","branches_url":"https://api.github.com/repos/soumyaray/YPBT-app/branches{/branch}","tags_url":"https://api.github.com/repos/soumyaray/YPBT-app/tags","blobs_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/soumyaray/YPBT-app/statuses/{sha}","languages_url":"https://api.github.com/repos/soumyaray/YPBT-app/languages","stargazers_url":"https://api.github.com/repos/soumyaray/YPBT-app/stargazers","contributors_url":"https://api.github.com/repos/soumyaray/YPBT-app/contributors","subscribers_url":"https://api.github.com/repos/soumyaray/YPBT-app/subscribers","subscription_url":"https://api.github.com/repos/soumyaray/YPBT-app/subscription","commits_url":"https://api.github.com/repos/soumyaray/YPBT-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/soumyaray/YPBT-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/soumyaray/YPBT-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/soumyaray/YPBT-app/issues/comments{/number}","contents_url":"https://api.github.com/repos/soumyaray/YPBT-app/contents/{+path}","compare_url":"https://api.github.com/repos/soumyaray/YPBT-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/soumyaray/YPBT-app/merges","archive_url":"https://api.github.com/repos/soumyaray/YPBT-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/soumyaray/YPBT-app/downloads","issues_url":"https://api.github.com/repos/soumyaray/YPBT-app/issues{/number}","pulls_url":"https://api.github.com/repos/soumyaray/YPBT-app/pulls{/number}","milestones_url":"https://api.github.com/repos/soumyaray/YPBT-app/milestones{/number}","notifications_url":"https://api.github.com/repos/soumyaray/YPBT-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/soumyaray/YPBT-app/labels{/name}","releases_url":"https://api.github.com/repos/soumyaray/YPBT-app/releases{/id}","deployments_url":"https://api.github.com/repos/soumyaray/YPBT-app/deployments","created_at":"2017-09-27T09:31:51Z","updated_at":"2017-09-27T09:31:53Z","pushed_at":"2017-01-08T18:39:51Z","git_url":"git://github.com/soumyaray/YPBT-app.git","ssh_url":"git@github.com:soumyaray/YPBT-app.git","clone_url":"https://github.com/soumyaray/YPBT-app.git","svn_url":"https://github.com/soumyaray/YPBT-app","homepage":"http://ypbt-app.herokuapp.com/","size":551,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"parent":{"id":74651168,"node_id":"MDEwOlJlcG9zaXRvcnk3NDY1MTE2OA==","name":"YPBT-app","full_name":"RubyStarts3/YPBT-app","private":false,"owner":{"login":"RubyStarts3","id":22574553,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIyNTc0NTUz","avatar_url":"https://avatars1.githubusercontent.com/u/22574553?v=4","gravatar_id":"","url":"https://api.github.com/users/RubyStarts3","html_url":"https://github.com/RubyStarts3","followers_url":"https://api.github.com/users/RubyStarts3/followers","following_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/YPBT-app/contributors
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"9b0e8059cb1480929feed4513ba6f9ad3eef85939984c932d7022ea12c5bc37d"'
      Last-Modified:
      - Wed, 27 Sep 2[...]
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/foobar
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - read:user, repo, user:email, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1602989147'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-a-repository"}'
  recorded_at: Sun, 18 Oct 2020 01:45:41 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/soumyaray/YPBT-app
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1603556225'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Sat, 24 Oct 2020 15:17:05 GMT
recorded_with: VCR 6.0.0
